* {
  margin: 0;
  padding: 0;
}


.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(66, 121, 109);
  height: 60px;

}
.menu-list  {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(8, 8, 8);
  
  }
}

.sub-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(121, 66, 87);
  height: 60px;

}
.sub-menu-list  {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(13, 13, 14);
  
  }
}
